.flexbox-container {
    display: flex;
    background-color: yellow;
}

.flexbox-item {
    /* 
        vw and vh allows the style to accomodate the browser's size, it automatically resizes accordingly when the browser window is resizing
        px only resizes when the space utilized is greater than available size.
    */
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
    flex: 1;
}

.flexbox-item-2 {
    min-height: 200px;
    flex: 2;
}

.flexbox-item-3 {
    min-height: 300px;
    flex: 0.5;
}